<h3>{{{name}}}</h3>
<p>{{{message}}}</p>
<script src="//cdn.jsdelivr.net/npm/phaser@3.1.1/dist/phaser.js"></script>
<script src="/phaserLevel.js"></script>
{{#section "jQuery"}}
<script>$(function(){createLevel("{{{message}}}",{{{width}}}, {{{height}}} );})</script>
{{/section}}