{{#each levels}}
    <a display="block" text-decoration="none" href="/levelSelect/level/{{{this._id}}}">
        <div class = "level">
            <h2>{{{this.name}}}</h2>
            <p>The level was generated with this text: "{{{this.message}}}"<br>
            <br>
            win rate : {{{this.wins}}} wins out of {{{this.tries}}} tries.<br>
            Created by: {{{this.createdBy}}}
            </p>
        </div>
    </a>
{{/each}}