{{#each levels}}
    <a display="block" text-decoration="none" href="/levelSelect/level/{{{this._id}}}">
        <div class = "level">
            <h2>{{{this.name}}}</h2>
            <p>The level was generated with this text: "{{{this.message}}}"<br>
            win rate : {{{this.wins}}} / {{{this.tries}}}
            </p>
        </div>
    </a>
{{/each}}